{
  "extends": ["wesbos/typescript"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-unused-vars": 1,
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 0
  }
}
